html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: transparent;
}

.nav-item {
  margin-right: 24px;
}

.bgheader {
  background: #f1f3ff !important;
}

.box {
  background-color: darkblue;
  position: absolute;
  width: 100px;
  height: 34px;
  top: 10px;
  left: 10.3cm;
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  justify-content: end !important;
}

/* navbar */

/* header1 */
.kelang1 {
  padding-top: 50px;
}

/* header1 */

/* testimonial */
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  border-radius: 12px;
  background-color: #F1F3FF;
}

/* testimonial */

/* box */
.boxbar {
  height: 326px;
  background-color: #0d28a6;
  border-radius: 13px;
  color: white;
}

/* box */


.next {
  color: #28a745;
  background-color: white;
  border-radius: 100%;
  width: 40px;
}

.prev {
  color: #6c757d;
  background-color: white;
  border-radius: 100%;
  width: 40px;
}

/* faq */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tengah {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* faq */

/* footer */
.tinggi {
  line-height: 40px;
}

.boxfooter {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

/* footer */

/* icon */
.fa-star {
  color: #f9cc00;
}

.fa-angle-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-angle-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle-check {
  color: #cfd4ed;
}

.fa-thumbs-up {
  background-color: #f9cc00;
  border-radius: 100%;
  color: white;
}

.fa-tag {
  background-color: #fa2c5a;
  border-radius: 30px;
  color: white;
}

.fa-clock {
  background-color: #0d28a6;
  border-radius: 30px;
  color: white;
}

.fa-ribbon {
  background-color: #5cb85f;
  border-radius: 30px;
  color: white;
}

.fa-check {
  background-color: #cfd4ed;
  border-radius: 30px;
  color: blue;
  margin-bottom: 0.3cm;
}

/* icon */



/* box find */

@media only screen and (max-width: 768px) {
  .tengah {
    text-align: center !important;
  }

  .box {
    background-color: darkblue;
    position: absolute;
    width: 100px;
    height: 34px;
    left: 5%;
  }

  .kelang1 {
    padding-top: 0.5cm;
  }

  .kelang2 {
    padding-top: 0.5cm;
  }

  .responsif {
    margin-bottom: 0.5cm;
  }

  .boxbar {
    height: 400px;
    background-color: #0d28a6;
    border-radius: 13px;
    color: white;
  }
}