html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* navbar */
.navbar {
    background-color: transparent;
}

.nav-item {
    margin-right: 24px;
}

.bgheader {
    background: #f1f3ff !important;
}

.box {
    background-color: darkblue;
    position: absolute;
    width: 100px;
    height: 34px;
    top: 10px;
    left: 10.3cm;
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    justify-content: end !important;
}

/* navbar */

/* header1 */
.kelang1 {
    padding-top: 50px;
}

/* header1 */


/* box find */
.card-cars {
    height: 550px;
    margin: 0;
    border-radius: 10px;
}

.boxfind {
    position: flex;
    width: 1080px;
    height: 106px;
    margin-top: -30px;
    margin-left: 11cm;
    border-radius: 8px;
}

.mid {
    margin-top: 0.5cm;
}

/* footer */
.tinggi {
    line-height: 40px;
}

.boxfooter {
    width: 100px;
    height: 34px;
    background: #0d28a6;
}

/* footer */

@media only screen and (max-width: 768px) {
    .tengah {
        text-align: center !important;
    }

    .box {
        background-color: darkblue;
        position: absolute;
        width: 100px;
        height: 34px;
        left: 5%;
    }

    .kelang1 {
        padding-top: 0.5cm;
    }

    .kelang2 {
        padding-top: 0.5cm;
    }

    .responsif {
        margin-bottom: 0.5cm;
    }

    .boxbar {
        height: 400px;
        background-color: #0d28a6;
        border-radius: 13px;
        color: white;
    }
}

.container-cars {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#car-spec {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    justify-content: space-between;
}

#cars-container .card .card-body img {
    object-fit: cover;
    height: 200px;
}

.car-btn {
    width: 100%;
    margin: 0;
    border-radius: 2px;
}